* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #E0E0E0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    overflow-x: hidden;
}

.main-container {
    background-image: url('../images/dope.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.section-1,
.section-2 {
    flex: 1;
    min-width: 300px;
}

.index {
    padding: 2rem;
    max-width: 400px;
    max-height: 600px;
    background-color: #1E1E2E;
    border: 1px solid tomato;
    border-radius: 8px;
    overflow-y: auto;
    scrollbar-width: none;
}

h1 {
    text-align: center;
}

li {
    text-align: justify;
    list-style: none;
}

a {
    color: #E0E0E0;
    text-decoration: none;
}

a:hover {
    color: tomato;
}

a:visited {
    color: lightblue;
}

@media screen and (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .section-1,
    .section-2 {
        width: 100%;
        text-align: center;
    }

    .index {
        width: 90%;
        max-width: 350px;
        max-height: 500px;
    }
}

@media screen and (max-width: 600px) {
    .index {
        text-align: left;
        width: 100%;
        max-width: 400px;
        max-height: 450px;
    }
}